.footer {
    color: var(--text-primary);
    text-align: center;
    border-top: 1px solid var(--border-color);
    position: absolute;
    bottom: -5;
    width: 1200px;
  }
p{
    margin-top:5px;
    color: var(--font-color);
}